@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Axiforma;
  src: url(/Axiforma-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Axiforma;
  src: url(/Axiforma-Bold.woff2);
  font-weight: 700;
}

html {
  background-color: aliceblue;
}

body {
  max-width: 1600px;
  margin: auto;
  font-family: Inter;
  background-color: #ffffff;
}

.para {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.618;
  text-align: justify;
}

.blue-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 42.068px;
  color: #4e93d3;
}

.privacy-bg{
  background-image: url('/privacy.png');
}